.inline_detail_list{
  display: flex;
  flex-direction: column;
  padding: 20rpx 20rpx 0;
  .inline_input{
    text-align: center;
    padding-left: 20rpx;
    padding-right: 20rpx;
  }
}
.block_detail_operate{
  display: flex;
  align-items: center;
  padding: 20rpx;
  grid-gap: 20rpx;
}