@import url('@assets/less/common.less');

.block_index_container{
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #ffffff;
  .inline_search{
    display: flex;
    align-items: center;
    grid-gap: 20rpx;
    height: 100rpx;
    .input{
      flex: 1;
      border-radius: 100rpx;
      background-color: @backGColor;
      overflow: hidden;
      height: 70rpx;
      padding: 0 30rpx;
      font-size: 28rpx;
    }
    .button{
      font-size: 28rpx;
      padding: 0 30rpx;
    }
  }
  .inline_select{
    display: block;
    overflow: hidden;
    .inline_select_title{
      display: inline-block;
      vertical-align: middle;
      height: 90rpx;
      line-height: 90rpx;
      padding: 0 30rpx;
      .title{
        font-size: 28rpx;
      }
      .icon{
        font-size: 28rpx;
        margin-left: 6rpx;
        color: @labelColor;
      }
    }
  }
}
