@import url('@assets/less/common.less');

.inline_checkbox_card{
  background-color: #ffffff;
  border-radius: 12rpx;
  margin-bottom: 20rpx;
  &:last-child{
    margin-bottom: 0;
  }
}
.inline_checkbox_admin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20rpx 0;
  .admin_info{
    display: flex;
    align-items: center;
    .image{
      width: 100rpx;
      height: 100rpx;
      object-fit: cover;
      border-radius: 12rpx;
    }
    .name{
      font-size: 28rpx;
      color: @textColor;
      padding: 0 20rpx;
    }
  }
  .admin_status{
    font-size: 28rpx;
    color: @placeholderColor;
  }
}
.inline_item_submit{
  position: fixed;
  z-index: 98;
  bottom: 0;
  left: 20rpx;
  right: 20rpx;
  background-color: @pageBackgroundColor;
  .inline_submit_inner{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12rpx;
    overflow: hidden;
    .submit_scroll{
      display: flex;
      align-items: center;
      margin: 20rpx 30rpx 0 20rpx;
      .submit_admin{
        flex: 1;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        .image{
          display: inline-block;
          vertical-align: middle;
          margin-right: 20rpx;
          width: 66rpx;
          height: 66rpx;
          object-fit: cover;
          border-radius: 12rpx;
          overflow: hidden;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .submit_nums{
        font-size: 24rpx;
        color: @placeholderColor;
        margin-left: 20rpx;
      }
    }
    .submit_box{
      display: flex;
      align-items: center;
      padding: 20rpx;
      .button{
        flex: 1;
        margin-right: 20rpx;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
