.block_container{
  width: auto;
  height: auto;
  line-height: normal;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
  margin: 0;
  background-color: transparent;
  border-radius: 8rpx;
  font-weight: normal;
  margin-bottom: 20rpx;
  &::after{
    border: 0;
  }
}