.block_button_group_container{
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  box-sizing: content-box;
}

.block_container{
  width: auto;
  height: auto;
  line-height: normal;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
  margin: 0;
  background-color: transparent;
  border-radius: 8rpx;
  font-weight: normal;
  border-radius: 50PX;
  height: 50PX;
  &::after{
    border: 0;
  }
  &.ghost{
    height: 50PX;
  }
  &.inline_group{
    flex: 1;
    border-radius: 0;
    overflow: hidden;
    &:first-child{
      border-radius: 50PX 0 0 50PX;
    }
    &:last-child{
      border-right: 0!important;
      border-radius: 0 50PX 50PX 0;
    }
  }
}