@import url('@assets/less/common.less');

.block_container {
  display: flex;
  align-items: center;
  height: 98rpx;
  .inline_text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 26rpx;
    &.value {
      color: @textColor;
    }
    &.placeholder {
      color: @placeholderColor;
    }
  }
  .inline_icon {
    font-size: 32rpx;
    color: @placeholderColor;
    padding-left: 20rpx;
  }
}
.block_modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.6);
  &.show{
    display: flex;
  }
  &.hidden{
    display: none;
  }
  .block_modal{
    display: flex;
    flex-direction: column;
    border-radius: 20rpx 20rpx 0 0;
    background-color: #ffffff;
    min-height: 70vh;
    .inline_modal_title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20rpx;
      height: 98rpx;
      .title{
        font-size: 32rpx;
        color: @textColor;
        font-weight: bolder;
      }
      .icon{
        font-size: 42rpx;
        color: @placeholderColor;
        font-weight: bolder;
        transform: rotateZ(45deg);
      }
    }
  }
}
.inline_modal_range{
  display: flex;
  flex-direction: column;
  .range_detail{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100rpx;
    padding: 0 20rpx 0 40rpx;
    .text{
      position: relative;
      font-size: 28rpx;
      color: @textColor;
      background-color: #ffffff;
      margin-right: 20rpx;
    }
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 22rpx;
      height: 0;
      border-bottom: 1PX solid #cccccc;
    }
  }
  .range_list{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20rpx;
    border-left: 1PX solid #cccccc;
    &::before{
      content: '';
      position: absolute;
      left: -1PX;
      top: -50rpx;
      border-left: 1PX solid #cccccc;
      width: 0;
      height: 100rpx;
    }
    &::after{
      content: '';
      position: absolute;
      left: -1PX;
      bottom: 0;
      border-left: 1PX solid #ffffff;
      width: 0;
      height: 50rpx;
    }
  }
}